<h2 *ngIf="student$ | async as student; else loading">#{{student.id}} {{ student.name }}</h2>

<div *ngIf="student$ | async as student">
  <form [formGroup]="studentForm" class="ProfileWrapper">
    <mat-form-field class="full-width">
      <mat-label>ФИО</mat-label>
      <input matInput formControlName="name" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Дата рождения</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" [readonly]="isDisabled">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="isDisabled"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="full-width" (click)="callPhone(student.phone)">
      <mat-label>Телефон</mat-label>
      <input
        type="tel"
        matInput placeholder="+7-903-123-4567"
        formControlName="phone"
        [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Предмет</mat-label>
      <input matInput formControlName="subject" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Класс</mat-label>
      <input matInput formControlName="grade" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Отец</mat-label>
      <input matInput formControlName="father" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width" (click)="callPhone(student.fatherPhone)">
      <mat-label>Телефон отца</mat-label>
      <input type="tel" matInput placeholder="+7-903-123-4567" formControlName="fatherPhone" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Мать</mat-label>
      <input matInput formControlName="mother" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width" (click)="callPhone(student.motherPhone)">
      <mat-label>Телефон матери</mat-label>
      <input type="tel" matInput placeholder="+7-903-123-4567" formControlName="motherPhone" [readonly]="isDisabled">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Примечания</mat-label>
      <textarea matInput rows="3"
                placeholder='Надо потренировать уравнения'
                formControlName="info" [readonly]="isDisabled"
      ></textarea>
    </mat-form-field>
  </form>
  <mat-checkbox class="full-width" [checked]="!isDisabled" (change)="toggleDisabled()">Редактирование</mat-checkbox>
  <button mat-raised-button color="accent" (click)="saveStudent()" [disabled]="isDisabled">Сохранить</button>
</div>

<ng-template #loading>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
